@import url('https://fonts.googleapis.com/css?family=Open+Sans|Dancing+Script&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 180%;
    color: #fff;
    background-color: #000000;
    text-align: center;
}

.img1 {
    background: url(img/cover.jpg);
    min-height: 100%;
    position: relative;   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}
.img2 {
    background: url(img/mesadetrabajo.jpg);
    min-height: 100%;
    min-height: 100%;
    position: relative;   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}
.img3 {
    background: url(img/photooutput.jpg);
    min-height: 100%;
    min-height: 100%;
    position: relative;   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}
 
    

}
section {
    padding: 50px 80px;
    
}
.heading {
    position: absolute;
    top: 50%;
    font-size: 650%;
    text-shadow: 0 0 15px #000;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.vinos{ 
    padding: 40px;
    font-size:48px;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 768px) {
  .heading {
      font-size: 250%;
  }
  h1 {
      font-size: 95%;
  }
  p{
      font-size: 90%;
  }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }